.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Mulish;
  font-size: 16px;
  flex-wrap: wrap;
 }
 .content-wrapper {
  width: 100%;
 }
.title {
  font-family: Mulish, sans-serif;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
}
.about-container {
  display: flex;
  width: 100%;;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.about {
  display: flex;
  width: 90%;
  flex-direction: column;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 24px;
  padding: 10px;
 }
.about h1 {
  font-size: 36px;
  font-family: Lora;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.1em;
}
.about p {
  margin: 20px 0;
  font-size: 16px;
}
.stack {
  margin-top: 10px;
}
.profile-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.career-wrapper {
  display: flex;
  flex-direction: row;
}
.education-wrapper, .experience-wrapper{
  width: 50%;
}
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.attributions {
  width: 100%;
  border: 1px solid blue;
  word-wrap: break-word;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .content-wrapper{width: 90%;}
  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about {
    width: 100%;
  }
  .avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
  }
}
