<div class="container">
  <div class="content-wrapper">

    <div class="about-container">
      <div class="about">
        <p> {{data.description}} </p>
          <p>
          <span *ngFor="let item of tools, let i = index">
            {{item}}<span *ngIf="i < tools.length-1">, </span>
          </span>
        </p>
        </div>
    </div>

    <div class="experience-wrapper">
      <div class="experience1">
        <h4> Formação acadêmica </h4>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item *ngFor="let education of data.education">
            <fa-icon mat-list-icon [icon]="faGraduationCap"></fa-icon>
            <div mat-line> {{ education.course }} </div>
            <div mat-line> {{ education.institution }} </div>
            <div mat-line> {{ education.type }} </div>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="experience2">
        <h4> Experiência </h4>
        <mat-divider></mat-divider>
        <mat-list class="experience2">
          <mat-list-item *ngFor="let experience of data.experience">
            <fa-icon mat-list-icon [icon]="faBriefcase"></fa-icon>
            <div mat-line> <a mat-button class="link" href="{{ experience.url }}"> {{ experience.name }} </a> </div>
            <div mat-line> {{ experience.duration }} </div>
            <div mat-line> {{ experience.role }} </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>

