.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  min-height: 100vh;
}
.spacer {
  flex: 0.5 1 auto;
}
.content {
  flex-grow: 1;
}
.title {
  font-family: Lora;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  cursor: pointer;
}
.title:hover {
  opacity: 0.5;
}
mat-toolbar {
  justify-content: space-evenly;
}
.menu {
  display: flex;
  flex-grow: 0.1;
  justify-content: space-between;
}
.social-links {
  display: flex;
  flex-grow: 0.5;
  justify-content: space-around;
}
.social-links fa-icon {
  cursor: pointer;
}
.social-links fa-icon:hover {opacity: 0.5;}
.switch-theme {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer {
  width: 100%;
  padding: 10px;
  bottom: 0%;
  text-align: center;
}
.scroll-up {
  position: fixed;
  bottom: 60px;
  right: 20px;
  font-size: 40px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.scroll-up:hover {
  opacity: 0.5;
}
