<div class="container mat-app-background">
  <mat-toolbar>
    <p class="title">Tc</p>
    <span class="spacer"></span>
      <div class="switch-theme">
        <fa-icon class="sun-icon" [icon]="faSun"></fa-icon>
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
        </mat-slide-toggle>
        <fa-icon class="moon-icon" [icon]="faMoon"></fa-icon>
      </div>
  </mat-toolbar>
  <div class="content">
    <app-resumo></app-resumo>
    <app-info></app-info>
  </div>
  <fa-icon class="scroll-up" *ngIf="isShow" (click)="gotoTop()" [icon]="faCircleArrowUp"></fa-icon>
    <div class="footer">
      Made by Thais
    </div>
</div>
